/**************/
/* CSS REMEDY */
/**************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
	display:flex;
	justify-content: space-around;
    background-color: #ffc8dd; 
	width: 100vw;
	height: 16vw;
	border-bottom-color:#000;
	position:fixed;
	align-items: center;

}

footer {
	background-color: #3200e1;
}

main {
	background-color: #ffc8dd;
	color: #3200e1;
}

hr {
	background-color: #3200e1;
	height: .2em;
}

h2 {
	text-align: center;
}

h2:first-child {
	text-align: left;
}

header img {
	width: 2.7em;
	height: 2.8em;
	margin-right: 14em;
}

.moviepictures {
	display: flex;
	align-items: center;
	padding-bottom: 3em;
	gap: 2em;
	overflow-x: auto;
	margin-left: 1em;
	margin-top: 2em;
	margin-right: 1em;
}

.moviepictures img {
	width: 180px;
	height: 257px ;
}

.foodpictures {
	display: flex;
	align-items: center;
	padding-bottom: 3em;
	overflow-x: auto;
	margin-left: 1em;
	margin-top: 2em;
	margin-right: 1em
}

.foodpictures img {
	width: 335px;
	height: 224px;
}

.articles img {
	width: 335px;
	height: 188px ;
}

.article {
	display: flex;
	align-items: center;
	padding-bottom: 3em;
	gap: 2em;
	overflow-x: auto;
	margin-left: 1em;
	margin-top: 2em;
	margin-right: 1em;
}

section {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
}

#bigimage {
	width: 100vw;
	height:100vh ;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.4em; /* Breedte van het icoon */
    height: 1.1em; /* Totale hoogte van de drie streepjes samen */
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    height: 2px; /* Dikte van de streepjes */
    width: 100%;
    background-color: #3200e1; /* Zwarte kleur zoals bij Lab111 */
    border-radius: 2px; /* Beetje afronding voor zachtere hoeken */
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/






/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

